<h2><font color="red">Categorical values</font></h2>

<h3>Part 1</h3>

<h5>What is a categorical value?</h5>

A categorical value is a value where we can group the data in categories that doesn't have a lot of entries.So when we sort data using categorical value we are cleaning up the data and we can visualise the link between these data more easily

In [43]:
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/cyrilmahfouz/Desktop/SEF/Week1/Day1/Pandas_fcts/kc_house_data.csv")

In [34]:
#ex1
#lets start by getting a categorical value
#we can see that watefront has 2 values; either 1 for yes and 2 for no

price_waterfront=df[['price','waterfront']].groupby('waterfront').mean().round()

print(price_waterfront)

                price
waterfront
0            531653.0
1           1662524.0

<p>Here we can realize that average price of houses that have a waterfront is more expensive than the houses that doesn't have waterfronts.</p>
<p>We did this by grouping the houses into 2 categories. The first one, the group that doesn't contain a waterfall and the second group contains a waterfall.Then we preceeded by getting the average price of these 2 groups and that's how we came up with this conclusion</p>

In [35]:
#ex2
#lets see if the floors affect the prices

prices_floors=df[['price','floors']].groupby('floors').mean().round()
print(prices_floors)

            price
floors
1.0      442220.0
1.5      559045.0
2.0      649052.0
2.5     1061021.0
3.0      582620.0
3.5      933938.0

This is intriguing. We found that even if the number of floors increases, the average prices of the houses that contains more floors than others isn't increasing accordingly.<br>
For example here the higher average price is attributed to the 2.5 floors. And we can see that a house that has 2 floors has an average price higher than the houses that has 3 floors<br>
Let's check if the floors affect the average area of the houses

In [36]:
#ex3
#lets check the corrolation between the floors and the area

area_floors=df[['floors','sqft_living','sqft_lot']].groupby('floors').mean().round().head(4)
area_floors['avrg_area']=(area_floors['sqft_living']+area_floors['sqft_lot'])
print(area_floors)

        sqft_living  sqft_lot  avrg_area
floors
1.0          1732.0   14568.0    16300.0
1.5          1908.0   16966.0    18874.0
2.0          2571.0   16134.0    18705.0
2.5          3145.0   17347.0    20492.0

Now we can relate the data. We can see that the average area is increasing when the number of floors is increasing which is logical.<br>
Let us check if the grade is related to the area of the house

In [40]:
#ex4
grade_area=df[['grade','sqft_living','sqft_lot']].groupby('grade').mean().round()
grade_area['avrg_area']=(grade_area['sqft_living']+grade_area['sqft_lot'])

print(grade_area.sort_values(by='avrg_area',ascending=False).head(4))

       sqft_living  sqft_lot  avrg_area
grade
12          5472.0   54521.0    59993.0
11          4395.0   38373.0    42768.0
13          7483.0   28205.0    35688.0
10          3520.0   28191.0    31711.0

We can see that the top 4 best graded houses,from 10 to 13 have an average area that is bigger than the rest of the houses with lower grade, under 10

<h3>Part 2</h3>

<h5>Introducing the missing values to a subset</h5>

In [49]:
missing_percentage = 0.1  # 10% missing values

#subset that we want to introduce to it missing values
mis_sub=df[['price','condition','yr_built','yr_renovated']].copy()

mask = np.random.rand(*mis_sub.shape) < missing_percentage
mis_sub[mask] = np.nan

mis_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         19453 non-null  float64
 1   condition     19483 non-null  float64
 2   yr_built      19460 non-null  float64
 3   yr_renovated  19495 non-null  float64
dtypes: float64(4)
memory usage: 675.5 KB

<h5>A. Deleting the rows with missing values</h5>

In [55]:
#first lets get the len of the rows
len(mis_sub) #21613

#now tp delete the empty rows we use .dropna() 
cleaned_sub=mis_sub.dropna()
print(len(cleaned_sub))

#lets specify the column that we want to drop if the value if na
cleaned_sub = mis_sub.dropna(subset=['condition', 'price'])
len(cleaned_sub)

14253

17547

<h5>B. Filling the missing values</h5>

Let's get the median of the data set

In [56]:
mis_sub.median()

price           450000.0
condition            3.0
yr_built          1975.0
yr_renovated         0.0
dtype: float64

In [58]:
# Replace missing values with the median of each column
sub_filled_with_median = mis_sub.fillna(mis_sub.median())
print(sub_filled_with_median)

          price  condition  yr_built  yr_renovated
0      221900.0        3.0    1955.0           0.0
1      538000.0        3.0    1975.0        1991.0
2      180000.0        3.0    1933.0           0.0
3      604000.0        5.0    1965.0           0.0
4      510000.0        3.0    1975.0           0.0
...         ...        ...       ...           ...
21608  450000.0        3.0    2009.0           0.0
21609  400000.0        3.0    2014.0           0.0
21610  402101.0        3.0    2009.0           0.0
21611  400000.0        3.0    2004.0           0.0
21612  325000.0        3.0    2008.0           0.0

[21613 rows x 4 columns]

<h5><font color='red'>Conclusion</font></h5>

So when we are dealing with dataframes, locate the categorical value for an easier analyze. Regroup the data with the categorical values to find links between them and understand the data more.<br>
<br>
Now, when we are dealing with faulting values or missing ones, we have to options.<br>
We can locate the rows that contains missing data delete the row and continue the analyze<br>
We can also locate the missing value, get the median of all the dataframe an fill in the missing values with the median of the dataframe